<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/theme/index.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/vue.js"></script>
    <script src="/js/ele.js"></script>
    <script src="/js/jquery.min.js"></script>

  </head>
  <body>
    <el-container id="all-container">
      <el-header id="navigation-container">
        <el-row :gutter="0" >
          <el-col :span="6">
            <div id="folder-container" @click="collSider=!collSider"><i :class="{'primary-color':collSider, 'el-icon-s-fold': !collSider,'el-icon-s-unfold':collSider}"></i></div><a href="#" id="icon-title">Core Force NEWS</a>
          </el-col>
          <el-col :span="12">
            <div id="search-container">
              <el-input placeholder="搜索相关新闻"
                v-model="searchInput"
                prefix-icon="el-icon-search"
                clearable>
              </el-input>
            </div>
          </el-col>
          <el-col :span="6">
            <div id="avatar-container" @mouseenter.self="userInfoCol=false" @mouseleave.self="userInfoCol=true">
              <el-avatar fit="fill" :size="50" src="/res/img/avatar.jpg"></el-avatar>
              <div id="user-info-container">
                <el-menu
                  id="user-info-menu"
                  mode="vertical"
                  :collapse="false"
                  v-show="!userInfoCol">
                  <el-menu-item index="1"><i class="el-icon-user-solid  primary-color"></i>个人中心</el-menu-item>
                  <el-menu-item index="2"><i class="el-icon-s-flag  primary-color"></i>操作历史</el-menu-item>
                  <el-menu-item index="3"><i class="el-icon-finished bold primary-color"></i>统计</el-menu-item>
                  <el-menu-item index="4"><i class="el-icon-s-tools  primary-color"></i>设定</el-menu-item>

                </el-menu>
              </div>
            </div>
            
          </el-col>
        </el-row>
        <el-menu id="sider-container" 
          :collapse="collSider" 
          @open="handleOpen" 
          @close="handleClose"
          default-active="5"
          class="el-menu-vertical-demo">
          <div class="icon-container">
            <el-button type="primary" icon="el-icon-edit" round>编辑文章</el-button>
          </div>
          <el-menu-item index="1" >
            <span slot="title" class="sider-item"><i class="el-icon-date bold primary-color"></i>工作日程</span>
          </el-menu-item>
          <el-menu-item index="2" >
            <span slot="title" class="sider-item"><i class="el-icon-bell bold primary-color"></i>消息通知</span>
          </el-menu-item>

          <el-menu-item index="3" >
            <span slot="title" class="sider-item"><i class="el-icon-setting bold primary-color"></i>设置</span>
          </el-menu-item>
          <el-menu-item index="4">
            <span slot="title"  class="sider-item">
              <i class="el-icon-user bold primary-color"></i>人员管理
            </span>
          </el-menu-item>
          <el-menu-item index="5">
            <span slot="title"  class="sider-item">
              <i class="el-icon-files bold primary-color"></i>归档管理
            </span>
          </el-menu-item>
          <el-submenu index="6">
            <span slot="title"  class="sider-item">
              <i class="el-icon-takeaway-box bold primary-color"></i>文章管理
            </span>
            <el-menu-item index="6-1" ><span class="sider-item"><i class="el-icon-cpu bold primary-color"></i>科技</span></el-menu-item>
            <el-menu-item index="6-2" ><span class="sider-item"><i class="el-icon-office-building bold primary-color"></i>财经</span></el-menu-item>
            <el-menu-item index="6-3" ><span class="sider-item"><i class="el-icon-school bold primary-color"></i>教育</span></el-menu-item>
            <el-menu-item index="6-4" ><span class="sider-item"><i class="el-icon-football bold primary-color"></i>体育</span></el-menu-item>
          </el-submenu>
          <el-submenu index="7" >
            <span slot="title" class="sider-item"><i class="el-icon-finished bold primary-color"></i>统计</span>
            <el-menu-item index="7-1" ><span class="sider-item"><i class="el-icon-document-checked bold primary-color"></i>工作统计</span></el-menu-item>
            <el-menu-item index="7-2" ><span class="sider-item"><i class="el-icon-reading bold primary-color"></i>内容统计</span></el-menu-item>
          </el-submenu>
        </el-menu>
      </el-header>
      <el-main id="main-container">
        <el-row :gutter="0">
          <el-col :span="6"></el-col>
          <el-col :span="18" id="main-wrapper">
              <el-input
                class="data-tb"
                id="table-filter"
                v-model="search"
                size="mini"
                prefix-icon="el-icon-search"
                placeholder="输入关键字搜索"></el-input>
            <template>              
              <el-table
                :data="tableData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase())).slice((currentPage-1)*pagesize,currentPage*pagesize)"
                style="width: 100%"              
                v-loading="loading"
                ref="multipleTable"
                :default-sort="{prop:'datetime', order:'descending'}"
                @selection-change="handleSelectionChange"
                >
                <el-table-column
                  type="selection"
                  width="55">
                </el-table-column>
                <el-table-column
                  fixed
                  prop="datetime"
                  label="日期时间"
                  width="150">
                </el-table-column>
                <el-table-column
                  prop="username"
                  label="作者"
                  width="150">
                </el-table-column>
                <el-table-column
                  prop="title"
                  label="标题"
                  width="500">
                </el-table-column>
                <el-table-column
                  prop="part_id"
                  label="所属专栏"
                  width="150">
                  <template slot-scope="scope">
                    <div slot="reference" class="name-wrapper">
                      <el-tag size="medium">{{ parts[parseInt(scope.row.part_id)-1].label }}</el-tag>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column
                  label="操作"
                  width="400">
                  <template slot-scope="scope">
                    <!-- <el-button @click="handleClick(scope.row)" type="text" size="small">查看</el-button>
                    <el-button type="text" size="small">编辑</el-button> -->
                    <el-button  plain size="small" icon="el-icon-view"><a :href="'/admin/view?pid='+scope.row.pid">查看</a></el-button>
                    <el-button @click="handleEdit(scope.row)" icon="el-icon-edit" type="primary" size="small">编辑</el-button>
                    <el-button icon="el-icon-delete" type="danger" size="small">删除</el-button>
                    <el-button @click="handleClick(scope.row)" icon="el-icon-data-analysis" type="success" size="small">统计</el-button>
                  </template>
                </el-table-column>
              </el-table>
              <el-pagination class="fy"
                  hide-on-single-page
                  layout="total, prev, pager, next, jumper"
                  @current-change="currentChange"
                  :total="total"
                  :page-size="pagesize"
                  background
                >
              </el-pagination>
            </template>
          </el-col>
        </el-row>
        
      </el-main>
    </el-container>
    <script src="/js/docs.js"></script>
  </body>
</html>