<!--
 * @Date: 2020-08-22 23:28:47
 * @LastEditors: Jecosine
 * @LastEditTime: 2020-08-24 22:11:50
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/element.js"></script>
    <!-- <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script> -->
    

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <!-- <h1>Index</h1> -->
    <div id="navigation-container" class="general-shadow">
        <div id="navigation-mask"></div>
        <div class="navigation-wrapper">
            <div id="logo" class="inline-block float-left">
                <a style="line-height: var(--navi-height);margin-right:40px;" href="index.html"><el-image style="width: 110px" src="../static/img/logo.png" fit="contain"></el-image></a>
            </div>
        <!-- <div id="navigation-right" class="inline-block float-right"> -->
            <el-menu :default-active="activeIndex" class="inline-block" mode="horizontal" @select="handleSelect">
                
                <el-submenu index="1" class="float-left">
                    <template slot="title">
                        <i class="el-icon-service"></i>Service
                    </template>
                    <el-menu-item index="4-1">选项1</el-menu-item>
                    <el-menu-item index="4-2">选项2</el-menu-item>
                    <el-menu-item index="4-3">选项3</el-menu-item>
                </el-submenu>
                <el-menu-item index="2" class="float-left"><i class="el-icon-thumb"></i>About Us</el-menu-item>
            </el-menu>
            <el-menu :default-active="activeIndex" class="inline-block float-right" mode="horizontal" @select="handleSelect">
                <!-- <div class="float-right"> -->
                <el-menu-item index="3"><a href="https://www.ele.me" target="_blank"><i class="el-icon-tickets"></i>All Orders</a></el-menu-item>
                <el-menu-item index="4"><i class="el-icon-shopping-cart-1"></i>Shop Cart</el-menu-item>
                <el-menu-item index="5"><i class="el-icon-bell"></i>Notifications</el-menu-item>
                <el-submenu index="6">
                    <template slot="title">
                        <el-avatar :size="40" :src="userData.avatarUrl"></el-avatar>
                    </template>
                    <el-menu-item index="6-1">选项1</el-menu-item>
                    <el-menu-item index="6-2">选项2</el-menu-item>
                    <el-menu-item index="6-3">选项3</el-menu-item>
                    <el-submenu index="6-4">
                        <template slot="title">选项4</template>
                        <el-menu-item index="6-4-1">选项1</el-menu-item>
                        <el-menu-item index="6-4-2">选项2</el-menu-item>
                        <el-menu-item index="6-4-3">选项3</el-menu-item>
                    </el-submenu>
                </el-submenu>
                <!-- </div> -->
            </el-menu>
        </div>
        
    </div>
    
    <div id="main-container">
        <div id="banner-container" >
            <el-carousel trigger="click" height="100vh">
                <el-carousel-item v-for="item in 4" :key="item">
                  <el-image style="width: 100%;height: 100%" src="../static/img/banner1.png" fit="fill"></el-image>
                </el-carousel-item>
              </el-carousel>
        </div>
        <div id="scroll-btn">Scroll Down<br><i class="el-icon-caret-bottom"></i></div>

        <el-row>
            <el-col :span="16" :offset="4" id="content-container">
                <el-row :gutter="20">
                    <el-col :span="6" id="cate-left-container" class="inline-block">
                        <div class="left-item" v-for="(item, i) in cateData.data" @mouseover="showByIndex = i" @mouseout="showByIndex = null">{{ item["cateName"] }}</div>
                    </el-col>
                    <el-col :span="6" id="cate-right-container" class="inline-block">
                        <div class="right-item" v-for="(item, i) in cateData.data" v-show="showByIndex === i">
                            <div class="right-subitem" v-for="(subitem, j) in item.data">
                                <div class="subitem-title">{{ subitem["cateName"] }}</div>
                                <div class="cate-item" v-for="(cate, k) in subitem['data']"><a :href="cate.cateUrl">{{ cate.cateName }}</a></div>
                                <!-- <el-row :glutter="20" v-for="row in Math.ceil(subitem.data.length/6)">
                                    <el-col :span="4" v-for="k in 6" v-key=""><a :href=".cateUrl">{{subitem.data[k + (row-1) * 6 - 1].cateUrl}}</a></el-col>
                                </el-row> -->
                            </div>
                        </div>
                    </el-col>
                </el-row>
                
                

            </el-col>
        </el-row>
    </div>
    
    <script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>

