<!--
 * @Date: 2020-08-22 23:28:47
 * @LastEditors: Jecosine
 * @LastEditTime: 2020-08-31 02:56:23
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
    <meta content="email=no" name="format-detection">
    <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
    <meta name="theme-color" content="#FF8623">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="applicable-device" content="mobile">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/element.js"></script>
    <!-- <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script> -->


    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <!-- <h1>Index</h1> -->
    <!-- <div id="navigation-container" class="general-shadow" :style="{'backgroundColor':(onTop)?'transparent':'white'}">
        <div class="navigation-wrapper">
            <div class="inline-block" id="collapser" v-show="screenWidth < 1200">
                <el-button @click="isCollapsed = !isCollapsed" :icon="(isCollapsed)?'el-icon-s-unfold':'el-icon-s-fold'"
                    circle></el-button>
            </div>
            <div id="logo" class="inline-block" :style="{left: (screenWidth < 1200)?'60px':'0'}">
                <a href="index.html">
                    <el-image style="width: 110px" src="img/logo.png" fit="contain"></el-image>
                </a>
            </div>
            <transition name="fade">
                <el-menu v-show="(screenWidth > 1200) || isCollapsed"
                    :mode="(screenWidth > 1200)?'horizontal':'vertical'" :default-active="activeIndex"
                    :class="{ 'float-right':screenWidth > 1200, 'mobile-menu':screenWidth <= 1200}"
                    @select="handleSelect"
                    :style="{'backgroundColor':(onTop)?(screenWidth > 1200)?'transparent':'white':'white'}"
                    @scrollleavetop="handleLeaveTop" collapse-transition="false">

                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-service"></i>
                            <span>Service</span>
                        </template>
                        <el-menu-item index="4-1">Feed Back</el-menu-item>
                        <el-menu-item index="4-2">My Service</el-menu-item>
                    </el-submenu>
                    <el-menu-item index="2"><i class="el-icon-thumb"></i><span>About Us</span></el-menu-item>

                    <el-menu-item index="3"><a href="#" target="_blank"><i class="el-icon-tickets"></i><span>All Orders</span></a></el-menu-item>
                    <el-menu-item index="4"><i class="el-icon-shopping-cart-1"></i><span>Shop Cart</span></el-menu-item>
                    <el-menu-item index="5"><i class="el-icon-bell"></i><span>Notifications</span></el-menu-item>
                    <el-submenu index="6" v-if="userData!=null">
                        <template slot="title">
                            <el-avatar :size="40" :src="userData.avatarUrl" ></el-avatar>
                        </template>
                        <el-menu-item index="6-1" @click="window.location.href='/personal?tab=1'"><i class="el-icon-user"></i> My Profile</el-menu-item>
                        <el-menu-item index="6-2" @click="window.location.href='/personal?tab=6'"><i class="el-icon-bank-card"></i> Gift Cards</el-menu-item>
                        <el-menu-item index="6-3" @click="window.location.href='/personal?tab=7'"><i class="el-icon-setting"></i> Settings</el-menu-item>
                        <el-menu-item index="6-4" @click="window.location.href='/logout'"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</el-menu-item>
                    </el-submenu>
                    <el-submenu index="6" v-if="userData==null">
                        <template slot="title">
                            <el-avatar :size="40" src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png" ></el-avatar>
                        </template>
                        <el-menu-item index="6-1" @click="window.location.href='/login'"><i class="el-icon-user"></i> My Profile</el-menu-item>
                        <el-menu-item index="6-2" @click="window.location.href='/register'"><i class="el-icon-bank-card"></i> Gift Cards</el-menu-item>
                    </el-submenu>

                </el-menu>
            </transition>
        </div>

    </div > -->
    <navigator id="navigation-container" class="general-shadow" :style="{'backgroundColor':(onTop)?'transparent':'white'}"
    :reachtop="onTop" :swidth="screenWidth" :user="userData"></navigator>
    
    <div id="main-container" class="target_top">
        <el-backtop></el-backtop>
        <div id="banner-container">
            <el-carousel trigger="click" height="100vh">
                <el-carousel-item v-for="item in 4" :key="item">
                    <el-image style="width: 100%;height: 100%" src="img/banner1.png" fit="fill"></el-image>
                </el-carousel-item>
            </el-carousel>
        </div>
        <div id="scroll-btn">Scroll Down<br><i class="el-icon-caret-bottom"></i></div>
        <el-row>
            <el-col id="search-container" :xs="{span:22, offset:1}" :lg="{span:18, offset:3}" :sm="{span:20, offset:2}">
                <el-input placeholder="Search what you want" v-model="searchInput.text" class="input-with-select">
                    <el-select v-model="searchInput.type" slot="prepend" placeholder="Please Select">
                        <el-option label="Item" value="1"></el-option>
                        <el-option label="Shop" value="2"></el-option>
                    </el-select>
                    <el-button slot="append" icon="el-icon-search" @click="doSearch"></el-button>
                </el-input>
            </el-col>
        </el-row>
        <el-row>
            <el-col :xs="{span:22, offset:1}" :lg="{span:18, offset:3}" :sm="{span:20, offset:2}"
                id="content-container">
                <!-- <div :class="{'coverbox':true, 'padding-box': a.screenWidth > 700}" :style="cateRightStyle" > -->
                <el-row :gutter="10">
                    <el-col :xs="24" :sm="24" :lg="18" class="inline-block">
                        <div class="coverbox" @mouseleave="logout">

                            <el-row>
                                <el-col :xs="10" :sm="8" :lg="6">
                                    <el-card id="cate-left-container">
                                        <div :class="{'left-item': true, 'hovered': showByIndex === i}"
                                            v-for="(item, i) in cateData.data" @mouseover="showByIndex = i">
                                            {{ item["cateName"] }}

                                        </div>
                                    </el-card>
                                </el-col>
                                <el-col :xs="14" :sm="16" :lg="18" style="position: relative;">
                                    <transition name="fade" v-for="(item, i) in cateData.data">
                                        <el-card
                                            :class="{'center-item':true, 'fadein-style':showByIndex === i, 'fadeout-style':!(showByIndex === i)}"
                                            v-show="showByIndex === i" shadow="never">
                                            <div class="center-subitem" v-for="(subitem, j) in item.data">
                                                <div class="subitem-title">{{ subitem["cateName"] }}</div>
                                                <div class="cate-item inline-block"
                                                    v-for="(cate, k) in subitem['data']"><a
                                                        :href="'/cate?id=' + cate.cateId">{{ cate.cateName }}</a></div>
                                            </div>

                                        </el-card>
                                    </transition>
                                    <el-carousel id="center-ads" trigger="click" :style="cateRightStyle" height="600px">
                                        <el-carousel-item v-for="item in 4" :key="item">
                                            <el-card
                                                style="background-color:  rgba(255, 134, 36, 0.507); height: 100%;">
                                                <h3>{{ item }}</h3>
                                            </el-card>
                                        </el-carousel-item>
                                    </el-carousel>
                                </el-col>
                            </el-row>
                        </div>
                    </el-col>

                    <!-- <el-col :xs="14" :sm="16" :lg="14" id="cate-center-container" class="inline-block" :style="cateRightStyle">
            <transition name="fade" v-for="(item, i) in cateData.data">
              <el-card :class="{'center-item':true, 'fadein-style':showByIndex === i, 'fadeout-style':!(showByIndex === i)}"  v-show="showByIndex === i" @mouseout="showByIndex = null" style="width:calc(100% - 10px);height: 100%;">
                <div class="center-subitem" v-for="(subitem, j) in item.data" >
                  <div class="subitem-title">{{ subitem["cateName"] }}</div>
                  <div class="cate-item inline-block" v-for="(cate, k) in subitem['data']"><a :href="cate.cateUrl">{{ cate.cateName }}</a></div>
                </div>
              </el-card>
            </transition>
            <el-carousel id="center-ads" trigger="click" :style="cateRightStyle" height="500px">
              <el-carousel-item v-for="item in 4" :key="item">
                <el-card style="background-color:  rgba(255, 134, 36, 0.507); height: 100%;">
                  <h3>{{ item }}</h3>
                </el-card>
              </el-carousel-item>
            </el-carousel>
          </el-col> -->
                    <el-col :xs="24" :lg="6" v-show="a.screenWidth > 1200">
                        <el-card id="cate-right-container" :style="cateRightStyle">
                            <div slot="header" class="clearfix">
                                <span class="right-container-title"><i class="fa fa-fire" aria-hidden="true"></i>Heat
                                    Ranking</span>
                                <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button> -->
                            </div>
                            <div class="right-item" v-for="(item, i) in heatRank">
                                <el-popover placement="top-start" :open-delay="500" :width="rightContainerWidth"
                                    trigger="hover" popper-class="preview-popover">
                                    <el-card shadow="never" class="preview-card">
                                        <div class="preview-card-header">
                                            <el-image style="width: 100px;height: 75px;background-color: gray;" src=""
                                                fit="cover" class="inline-block">
                                                <div slot="placeholder" class="image-slot">
                                                    <i class="el-icon-loading"></i> Loading
                                                </div>
                                                <div slot="error" class="image-slot">
                                                    <i class="el-icon-picture-outline"></i>
                                                </div>
                                            </el-image>
                                            <div class="float-right">
                                                <div class="preview-card-header-title">{{cutStr(item.itemName, 40)}}
                                                </div>
                                                <div class="preview-shop-info"><i class="fa fa-shopping-bag"
                                                        aria-hidden="true"></i>{{item.shopName}}</div>
                                            </div>

                                            <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button> -->
                                        </div>
                                        <el-row class="preview-statistic">
                                            <el-col :span="8"><i class="fa fa-eye"
                                                    aria-hidden="true"></i>{{item.statisticData.view}}</el-col>
                                            <el-col :span="8"><i class="fa fa-star-o"
                                                    aria-hidden="true"></i>{{item.statisticData.want}}</el-col>
                                            <el-col :span="8"><i class="fa fa-handshake-o"
                                                    aria-hidden="true"></i>{{item.statisticData.sale}}</el-col>
                                        </el-row>
                                    </el-card>
                                    <span slot="reference" style="width: 100%;">
                                        <el-tag size="mini" :type="(i < 3)?'light':'info'">{{i + 1}}</el-tag><a
                                            :href="item.itemUrl">{{cutStr(item.itemName, 28)}}</a>
                                    </span>
                                </el-popover>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
                <!-- </div> -->
                <el-card class="section-card">
                    <div slot="header"><i class="el-icon-thumb"></i>Recommendations</div>
                    <div class="section-content recom">
                        <el-row :gutter="14">
                            <el-col :xs="12" :sm="8" :md="6" :lg="4" v-for="(item, i) in recommend">
                                <el-card class="shop-item" shadow="never">
                                    <el-image style="width: 100%;height: 150px;background-color: gray;" :src="item.pics[0]"
                                        fit="cover" class="inline-block">
                                        <div slot="placeholder" class="image-slot">
                                            <i class="el-icon-loading"></i> Loading
                                        </div>
                                        <div slot="error" class="image-slot-recom">
                                            <i class="el-icon-picture-outline"></i>
                                        </div>
                                    </el-image>
                                    <div class="item-info">
                                        <div class="item-price">$ {{item.price}}</div>
                                        <div class="item-title"><a :href="'/item/?itemId=' + item.itemId">{{cutStr(item.itemName,40)}}</a></div>
                                        <div class="item-shop inline-block"><a :href="'/item?itemId=' + item.itemId"><i class="fa fa-shopping-bag"
                                                    aria-hidden="true"></i>{{cutStr(item.businessName, 15)}}</a></div>
                                        <div class="item-shop inline-block float-right"><i class="fa fa-map-marker"
                                                aria-hidden="true"></i> {{item.location}}</div>
                                        <div>
                                        </div>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
    <div id="footer" class="general-shadow"> </div>
    <script type="text/javascript" src="js/components.js"></script>
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>