<!--
 * @Date: 2020-08-27 00:47:58
 * @LastEditors: Jecosine
 * @LastEditTime: 2020-08-29 11:59:39
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Item preview</title>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
    <meta content="email=no" name="format-detection">
    <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
    <meta name="theme-color" content="#FF8623">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="applicable-device" content="mobile">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait" />
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/element.js"></script>
    <!-- <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script> -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/item.css">
</head>
<body>
    <!-- navigation bar -->
    <div id="app">
        <navigator :reachtop="onTop" :swidth="screenWidth" :user="userData"></navigator>
        <div id="main-container">
            <el-row>
                <el-col id="search-container" :xs="{span:22, offset:1}" :lg="{span:18, offset:3}" :sm="{span:20, offset:2}">
                    <el-input placeholder="Search what you want" v-model="searchInput.text" class="input-with-select">
                        <el-select v-model="searchInput.type" slot="prepend" placeholder="Please Select">
                            <el-option label="Item" value="1"></el-option>
                            <el-option label="Shop" value="2"></el-option>
                        </el-select>
                        <el-button slot="append" icon="el-icon-search"></el-button>
                    </el-input>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="{span:22, offset:1}" :lg="{span:18, offset:3}" :sm="{span:20, offset:2}"
                    id="content-container">
                    <el-card class="detail-card">
                        <div>
                            <el-row :gutter="15" class="detail-header">
                                <el-col :span="10">
                                    <div class="detail-image-container  outline-border-2">
                                    <el-image 
                                        style="width: 100%;height: 100%;background-color: gray;" 
                                        :src="itemData.itemPreview[showIndex]"
                                        :preview-src-list="itemData.itemPreview"
                                        fit="cover">
                                        <div slot="placeholder" class="image-slot">
                                            <i class="el-icon-loading"></i> Loading
                                        </div>
                                        <div slot="error" class="image-slot">
                                            <i class="el-icon-picture-outline"></i>
                                        </div>
                                    </el-image>     
                                    </div>
                                    <div class="row-flex-box" style="height: 64px; margin-top: 10px">
                                        <div class="thumb-widget inline-block"><el-button @click="previewOffset=Math.min(previewOffset + 69, 0)" size="small" icon="el-icon-arrow-left" circle></el-button></div>
                                        <div class="coverbox mask">
                                        <div id="detail-image-thumb-group" :style="{'left': previewOffset + 'px'}">
                                            <div @click="showIndex=i" :class="{'detail-image-thumb':true, 'inline-block':true, 'outline-border-2': showIndex===i}" v-for="(item, i) in itemData.itemPreview">
                                            <el-image style="width: 100%;height: 100%;background-color: gray;" :src="item"
                                                fit="contain" class="inline-block">
                                            </el-image></div>
                                        </div> </div>
                                        <div class="thumb-widget inline-block" style="right: 0"><el-button @click="previewOffset=Math.max(previewOffset - 69, -thumbWidth - 10)" size="small" icon="el-icon-arrow-right" circle></el-button></div>
                                    </div>
                                </el-col>
                                <el-col :span="12">
                                    <div class="detail-text-container">
                                        <div class="detail-text-title">{{itemData.itemName}}</div>
                                        <div class="detail-text-express">{{itemData.itemAddress}} <i class="el-icon-right"></i> 
                                            <el-cascader
                                                v-model="addressValue"
                                                :options="regionData"></el-cascader>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </div>
    </div>
    
    <script src="../static/js/addresspicker.js"></script>
    <script src="../static/js/base.js"></script>
    <script src="../static/js/components.js"></script>
    <script src="../static/js/item.js"></script>
</body>
</html>