<!--
 * @Date: 2020-08-22 23:01:23
 * @LastEditors: Jecosine
 * @LastEditTime: 2020-08-26 21:19:22
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
        <meta content="email=no" name="format-detection">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
        <meta name="theme-color" content="#FF8623">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
      
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="applicable-device" content="mobile">
        <meta name="screen-orientation" content="portrait">
        <meta name="x5-orientation" content="portrait">
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/vue.js"></script>
        <script type="text/javascript" src="../static/js/element.js"></script>
        <!-- <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script> -->
        
      
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/index.css">
        
        <link rel="stylesheet" href="../static/css/base.css">
        <link rel="stylesheet" href="../static/css/login.css">
      </head>
<body>
    <div id="login-app">
        <div id="header-container" class="general-shadow">
            <el-image style="height: 100%;" fit="contain" src="../static/img/logo.png"></el-image>
        </div>
        <div id="login-container">
            <el-row>
                <el-col :xs="{span: 22, offset:1}" :md="{span: 10, offset:6}" :lg="{span: 6, offset:9}" style="height: 60vh">
                    <div id="form-container">
                        <el-form id="login-form" ref="loginForm" :model="loginForm" :rules="rules">
                                    <el-form-item prop="userName">
                                <el-input
                                    clearable
                                    prefix-icon="el-icon-user"
                                    placeholder="Input your username." 
                                    v-model="loginForm.userName"></el-input></el-form-item>
                                <el-form-item prop="password">
                                    <el-input
                                    clearable
                                    show-password
                                    prefix-icon="el-icon-lock"
                                    type="password"
                                    autocomplete="off"
                                    v-model="loginForm.password"
                                    placeholder="Input your password."></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button @click="submitForm('loginForm')" type="primary">Login</el-button>
                                    <el-button @click="resetForm('loginForm')">Reset</el-button>
                                </el-form-item>
                            </el-form>
                    </div>
                </el-col>
            </el-row>
        </div>
        
    </div>
</body>
<script>
var a = new Vue({
    el: "#login-app",
    data() {
        var validateUserName = (rule, value, callback) => {
            if (!value) {
                return callback(new Error('Username can not be empty'));
            }
            setTimeout(() => {
                console.log(":" + value)
                if (value.length > 10) {
                    callback(new Error('Invalid username'));
                }
            }, 1000);
        };
        var validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Password can not be empty'));
            } else {
                callback();
            }
        };
        return {
            loginForm: {
                userName: '',
                password: ''
            },
            rules: {
                userName: [
                    { validator: validateUserName, trigger: 'blur' }
                ],
                password: [
                    { validator: validatePass, trigger: 'blur' }
                ]
                
            },
        }
    },
    methods: {
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    alert('submit!');
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        resetForm(formName) {
            console.log("ASDSAD");
            this.$refs[formName].resetFields();
        }            
    }
})
$("#submitbutton").click(() => {
    $.ajax({
        url: "/user/loginService",
        contentType: "application/x-www-form-urlencoded",
        type: "post",
        data: $("#login-form").serialize(),
        success: (res) => {
            console.log(res);
            $("#err").text((res["status"] == -1) ? res["message"] : "");
        },
        error: () => {
            console.log("Failed");
        }
    })
});
</script>
</html>
