<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Item preview</title>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
    <meta content="email=no" name="format-detection">
    <meta name="viewport"
        content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover">
    <meta name="theme-color" content="#FF8623">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="applicable-device" content="mobile">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait" />
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/element.js"></script>
    <!-- <script src="//unpkg.com/element-ui@2.13.2/lib/index.js"></script> -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/personal.css">
</head>
<body>
  <div id="app">
    <navigator :reachtop="onTop" :swidth="screenWidth" :user="userData"></navigator>
    <el-row :gutter="20">
      <el-col :span="4" :offset="3">
        <div id="side-menu-container">
          <el-menu
            default-active="1"
            class="el-menu-vertical-demo"
            @select="handleSelect">
            <el-menu-item index="1">
              <i class="el-icon-user"></i>
              <span slot="title">User Profile</span>
            </el-menu-item>
            <el-menu-item index="2">
              <i class="el-icon-tickets"></i>
                <span>All Orders</span>
            </el-menu-item>
            <el-menu-item index="3">
              <i class="el-icon-service"></i>
                <span>My Services</span>
            </el-menu-item>
            <el-menu-item index="4">
              <i class="el-icon-bell"></i>
                <span>Notifications</span>
            </el-menu-item>
            <el-menu-item index="5">
              <i class="el-icon-shopping-cart-1"></i>
              <span>Shop Cart</span>
            </el-menu-item>
            <el-menu-item index="6">
              <i class="el-icon-bank-card"></i>
              <span slot="title">Wallet</span>
            </el-menu-item>
            <el-menu-item index="6">
              <i class="el-icon-setting"></i>
              <span slot="title">Settings</span>
            </el-menu-item>
          </el-menu>
        
        </div>
      </el-col>
      <el-col :span="14" style="height: 100%;">
        
        <div id="content-container">
        <transition name="fade">
          <div class="cover-box" id="info" v-show="activeIndex==='1'">
            <el-form ref="form" :model="form" label-width="120px" label-position="left">
              <el-form-item label="Avatar">
                <el-upload
                  class="avatar-uploader"
                  :show-file-list="false"
                  :auto-upload="false"
                  :file-list="fileList"
                  :on-success="handleAvatarSuccess"
                  :on-change="beforeAvatarUpload">
                  <img v-if="imageUrl" :src="imageUrl" class="avatar">
                  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-form-item>
              <el-form-item label="Nick Name">
                <el-input v-model="form.name"></el-input>
              </el-form-item>
              <el-form-item
                v-for="(contact, index) in form.address"
                :label="'Contact ' + index"
                :key="contact.key"
                :prop="contact.address"
                :rules="{
                  required: true, message: '域名不能为空', trigger: 'blur'
                }">
                <el-input v-model="contact.name">
                  <template slot="prepend"><i class="el-icon-user"></i>  Name</template> 
                </el-input>
                <el-input v-model="contact.phone">
                  <template slot="prepend"><i class="el-icon-mobile"></i>  Phone</template>
                </el-input>
                <el-cascader
                    v-model="contact.location"
                    placeholder="Select your region"
                    :options="regionData"></el-cascader>
                <el-input v-model="contact.address">
                    <template slot="prepend"><i class="el-icon-location-outline"></i>  Address</template>
                </el-input>
                <el-button @click.prevent="removeContact(contact)" type="danger">Delete</el-button>
              </el-form-item>
              <el-form-item>
                
                <el-button @click="addDomain">Add Contact</el-button>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="onSubmit">Update Profile</el-button>
                <el-button>Cancel</el-button>
              </el-form-item>
            </el-form>
          </div>

          <!-- <div class="cover-box" id="cart" v-show="activeIndex==='5'"><h1>asdadasd</h1></div> -->
        </transition>
        <transition name="fade">
            <div class="cover-box" id="cart" v-show="activeIndex==='5'">
                <template>
                    <el-table
                      id="cart-table"
                      ref="multipleTable"
                      :data="tableData"
                      height="calc(100% - 100px)"
                      tooltip-effect="dark"
                      style="width: 100%"
                      @selection-change="handleSelectionChange">
                      <el-table-column
                        type="selection"
                        width="55">
                      </el-table-column>
                      <el-table-column
                        label="Thumbnail"
                        width="120">
                        <template slot-scope="scope">
                            <el-image style="width: 100px;height: 75px;background-color: gray;" :src="scope.row.imgUrl"
                                fit="cover" class="inline-block">
                                <div slot="placeholder" class="image-slot">
                                    <i class="el-icon-loading"></i> Loading
                                </div>
                                <div slot="error" class="image-slot">
                                    <i class="el-icon-picture-outline"></i>
                                </div>
                            </el-image>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="name"
                        label="Name"
                         show-overflow-tooltip>
                      </el-table-column>
                      <el-table-column
                        prop="amount"
                        label="Amount"
                        width="140">
                        <template slot-scope="scope">
                            <el-input-number 
                            size="mini" 
                            :min="1"
                            :step="1"
                            v-model="scope.row.amount"></el-input-number>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="price"
                        label="Price"
                        width="120">
                        <template slot-scope="scope">
                            <span class="item-price">$ {{scope.row.price * scope.row.amount}}</span>
                        </template>
                      </el-table-column>
                    </el-table>
                    <div style="margin-top: 20px" class="row-flex-box">
                        <div class="inline-block">Selected Price: <span class="item-price">$ {{totalPrice}}</span></div>
                        <div class="float-right">
                            <el-button type="primary">Submit Order</el-button>
                        </div>
                    </div>
                </template>
            </div>
        </transition>
        </div>
        
      </el-col>
    </el-row>
    <div id="footer"></div>
  </div>
  <script src="../static/js/addresspicker.js"></script>
  <!-- <script src="../static/js/base.js"></script> -->
  <script src="../static/js/components.js"></script>
  <script src="../static/js/personal.js"></script>
</body>
</html>