@import url(notosanssc.css);
:root {
    --navi-height: 60px;
    --theme-color: #FF8623;
    --normal-color: #909399;
    --selected-font-color: #303133;
    --selected-bar-color: #fff3e9;
}
:focus {
    outline: none;
}

/* @font-face {
    font-family: 'font-serif';
    src: url('../fonts/NotoSerifSC-Regular.otf')
}

@font-face {
    font-family: 'font-sans';
    src: url('../fonts/NotoSansSC-Regular.otf')
} */

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'font-sans';
    transition: 0.2s;
    /* color: var(--normal-color); */
}
body {
    max-width: 100%;
    /* min-width: 1200px; */
    /* overflow: scroll; */
}
a {
    /* color: var(--normal-color); */
}
a:hover {
    color: var(--theme-color);
}
.inline-block {
    display: inline-block;
}

.general-shadow {
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.15);
}
#collapser {
    position: absolute;
    line-height: var(--navi-height);
    left: 40px;
}
#navigation-container {
    position: fixed;
    width: 100%;
    /* min-width: 1200px; */
    /* left: 0;
    right: 0; */
    height: var(--navi-height);
    top: 0;
    z-index: 9999;
    border-bottom: 2px solid transparent;
    border-bottom: solid 1px transparent;
    /* background-color: white; */
}
.el-menu {
    user-select: none;
    background-color: transparent;
    border-bottom: solid 1px transparent!important;
}
.el-menu a {
    color: var(--selected-font-color);
}
.navigation-wrapper {
    height: 40px;
    width: calc(100% - 80px);
    margin-left: 40px;
}
#logo {
    position: relative;
    height: var(--navi-height);
    line-height: var(--navi-height);
    margin-right:40px;
}
#navigation-mask {
    position: fixed;
    /* top: -60px; */
    width: 100%;
    height: 60rem;
    background-color: white;
    z-index: -998;
    opacity: 0;
}
.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

.mobile-menu {
    width: 200px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: var(--navi-height);
    /* padding-left: 20px; */
}

#navigation-right {

}
#main-container {
    position: relative;
    /* top: var(--navi-height); */
    /* top: 50px; */
    width: 100%;
    min-height: 500px;
    z-index: 99;
    /* background: url("../img/memphis-colorful.png"); */

    /* change to orange maybe better */
    background: url("../img/doodles.png"); 

    /* background: url("../img/skyscraper.png"); */
    /* background: url("../img/leaves-pattern.png"); */
}
#main-container > .el-row {
    position: relative;
    margin-top: 50px;
}

#sub-container {
    height: 500px;
    z-index: 99;

}

#content-container {
    position: relative;
    /* width: 100%; */
    min-height: 500px;
    z-index: 99;
}

/* #content-container > .coverbox > .el-row > .el-col {
    background-color: rgba(255, 255, 255, 0.822);
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.05);

} */
.left-item, .center-item {
    font-size: 14px;

    /* box-shadow: -2px 0px 1px 0px #f3f3f3; */
    background-color: rgba(255, 255, 255, 0.877);
}
.center-item {
    /* box-shadow: 0px 0px 3px 3px #f3f3f3; */
}
#banner-container {
    position: relative;
    width: 100%;
    /* background-color: antiquewhite; */
    display: -webkit-flex;
    -webkit-flex-direction: column;
}
#scroll-btn :hover {
    cursor: pointer;
    transform: scale(1.1);
}
#scroll-btn {
    position: relative;
    bottom: 150px;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    /* background-color: #FF8623; */
    z-index: 9999;
    text-align: center;
    color: rgba(255, 255, 255, 0.788);
}
#scroll-btn > i {
    margin-top: -20px;
    font-size: 5em;
}
.banner-item {
    text-align: center;
}

/* scroll bar settting */
/* ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    border-radius:2px;
    background: rgba(255, 134, 36, 0.507);
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}     */


/* cate */

#cate-left-container .el-card__body {
    padding: 0;
    /* width: 200px; */
    /* border-right: solid 1px #e6e6e6; */
    /* width: 200px; */
}
#center-ads, #cate-left-container {
    position: relative;
    border: none;
    /* pointer-events: visible; */
    
}
#cate-left-container {
    border-top-right-radius: 0 ;
    border-bottom-right-radius: 0 ;
    overflow: unset;
}
/* center ads */
#center-ads {
    border-bottom-left-radius: 0px;
    width: 100%;
}
 
#center-ads .el-card {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
#cate-right-container {
    /* background-color: rgb(110, 110, 110); */
    /* border-left: solid 1px #e6e6e6; */
    /* box-shadow: 0px 0px 1px 1px #f3f3f3; */

}
.right-item {
    /* margin-left: 20px; */
    line-height: 40px;
    height: 40px;
    font-size: 14px;
}
.right-item > .el-tag {
    margin-right: 10px;
}
.left-item {
    /* width: 100%; */
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* color: var(--select-color); */
    color: var(--normal-color);
    pointer-events: all;
}
.left-item:hover {
    cursor: pointer;
    color: var(--theme-color);
    background-color: var(--selected-bar-color);
}
.hovered {
    cursor: pointer;
    color: var(--theme-color);
    background-color: var(--selected-bar-color)!important;
}

.subitem-title, .cate-item {
    margin-left: 20px;
}
.subitem-title {
    font-weight: bold;
    line-height: 50px;
}
.cate-item {
    margin: 0 10px 0 20px;
    line-height: 40px;
}
.coverbox {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: rgba(247, 255, 170, 0.678); */
}
.coverbox > .el-row > .el-col {
    margin-bottom: 20px;
}
.padding-box {
    padding: 20px;
    margin-left: -20px;
    margin-top: -20px;
}

.fade-enter-active {
    animation: fadein 0.5s;
}
.fade-leave-active {
    animation: fadeout 0.5s;
}

@keyframes fadein {
    from { opacity: 0;}
    to { opacity: 1;}
}
@keyframes fadeout {
    from { opacity: 1;}
    to { opacity: 0;}
}

#footer {
    position: relative;
    /* bottom: 0; */
    width: 100%;
    height: 300px;
    background-color: var(--normal-color);
    z-index: 999;
}


.test-white {
    /* position: absolute; */
    background-color: #fac59a;
    box-shadow: 0px 0px 1px 1px #f3f3f3;
    z-index: 998;
}
.center-item {
    position: absolute;
    /* margin-left: 100%; */
    /* top: 0; */
    width: 100%;
    height: 100%;
    /* padding: 5px; */
    z-index: 999;
    background-color: rgb(255, 255, 255);
    /* pointer-events: none; */
}

.input-with-select .el-select {
    width: 130px;
}
.input-with-select {
    /* margin-left: 65px; */
}

.right-container-title {
    /* width: 100%; */
    /* text-align: left; */
    /* height: 50px; */
    /* line-height: 50px; */
    /* margin-left: 20px; */
    font-size: 14px;
    color: var(--selected-font-color);
    /* color: var(--normal-color); */
}
.right-container-title > i {
    color: #FF8623;
    margin-right: 10px;
}
.right-item > span .el-tag {
    margin-right: 10px;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}
.preview-card {
    position: relative;
    width: 100%;
    border: none;
    padding: 0;
}
.preview-card > .el-card__body {
    padding: 0;
}
.el-popover {
    /* position: relative; */
    /* top: 20px; */
}
.image-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f5f7fa;
    color: #909399;
    font-size: 14px;
}
.preview-popover {
    width: 100%;
    margin-left: -20px;
    user-select: none;
    /* padding: 0; */
}
.preview-card-header {
    /* width: auto; */
    height: 85px;
    padding-bottom: 5px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 14px;
    color: var(--normal-color);

}
.preview-card-header > .float-right {
    position: relative;
    width: calc(100% - 10px - 100px);
    height: 100%;
}
.preview-card-header-title {
    width: 100%;
    height: 40px;
    line-height: 20px;
    /* margin-left: 5px; */
    /* background-color: #fac59a; */
    vertical-align: top;
}
.preview-shop-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 12px;
    vertical-align: bottom;
}
.preview-shop-info > i {
    margin-right: 10px;
}
.preview-statistic {
    width: 100%;
    height: 40px;
    color: var(--normal-color);
}
.preview-statistic > .el-col {
    text-align: center;
    line-height: 40px;
}
.fa {
    margin-right: 10px;
}
.section-content {
    width: 100%;
    /* height: 400px; */
}
.section-card {
    width: 100%;
    height: 640px;
    overflow: hidden;
    margin-bottom: 20px;
}
.shop-item {
    /* width: 170px; */
    min-width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    /* height: 240px; */
    /* background-color: #909399; */
}
.shop-item .el-card__body {
    padding: 0;
    /* border-right: solid 1px #e6e6e6; */
    /* width: 200px; */
}
.image-slot-recom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f5f7fa;
    color: #909399;
    font-size: 24px;
}
/* item preview */
.item-info {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: var(--selected-font-color);
}

.item-price {
    color: var(--theme-color);
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
}
.item-shop i {
    margin-right: 5px;
}
.item-info a:hover {
    text-decoration: underline;
}
.item-shop {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: var(--normal-color);
}
.item-shop a {
    color: var(--normal-color);
}
.item-title {
    width: 100%;
    line-height: 20px;
    height: 40px;
}
.item-title a {
    color: var(--selected-font-color)!important;
}