:root {
    --navi-height: 60px;
    font-family: 'font-sans';
}

@font-face {
    font-family: 'font-serif';
    src: url('../fonts/NotoSerifSC-Regular.otf')
}

@font-face {
    font-family: 'font-sans';
    src: url('../fonts/NotoSansSC-Regular.otf')
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.general-shadow {
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.15);
}

#navigation-container {
    position: absolute;
    width: 100%;
    height: var(--navi-height);
    top: 0;
    z-index: 9999;
    border-bottom: 2px solid transparent;
    border-bottom: solid 1px #e6e6e6;
    background-color: white;
}
.navigation-wrapper {
    height: 60px;
    width: calc(100% - 80px);
    margin-left: 40px;
}

.float-left {
    float: left!important;
}

.float-right {
    float: right!important;
}

#navigation-right {

}
#main-container {
    position: relative;
    top: var(--navi-height);
    width: 100%;
    min-height: 500px;
    z-index: 99;

}
#sub-container {
    height: 500px;
    z-index: 99;

}

#content-container {
    background-color: aqua;
    /* width: 100%; */
    height: 500px;
    z-index: 99;

}

