:root {
    --navi-height: 60px;
    --theme-color: #ff8623;
    --theme-half-color: rgba(255, 134, 35, 0.5);
    --normal-color: #909399;
    --main-font-color: #303133;
    --selected-font-color: #606266;
    --selected-bar-color: #fff3e9;
}

#app {
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 200vh; */
    /* background-color: aqua; */
}
#main-container {
    top: var(--navi-height)
}
#content-container {
}
.detail-card {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);

}

/* .detail-card > div {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 20px;
} */
.detail-header {
    /* width: 100%; */
    min-height: 600px;
}
.detail-header > .el-col {
    height: 100%;
}
.detail-header-preview {
    width: 300px;
    border: solid 2px transparent;

    /* height:  */
}
.detail-image-thumb:hover {
    cursor: pointer;
}
.detail-image-thumb {
    width: 50px;
    border: solid 2px transparent;
    margin-right: 2px;
    padding: 2px;
}
.outline-border {
    border: solid 1px var(--theme-half-color);
}
.outline-border-2 {
    border: solid 2px var(--theme-half-color);
}
.image-slot {
    font-size: 25px;
}
#detail-image-thumb-group {
    position: absolute;
    /* overflow: hidden; */
    /* margin-left: 50px; */
    height: 64px;
    /* margin-top: 10px; */
    /* padding-left: 40px; */
    /* padding-right: 40px; */
}
.detail-image-container > .el-image > .el-image-viewer__wrapper {
    top: var(--navi-height);
    height: calc(100vh - var(--navi-height));
}
.thumb-widget {
    /* width: 40px; */
    position: absolute;
    /* text-align: center; */
    /* position: relative; */
    /* left: -30px; */
    /* line-height: 80px; */
    /* vertical-align: middle; */
    /* margin: 10px; */
    margin: 10px;
}
.row-flex-box {
    position: relative;
    width: 100%;
    display: inline-flex;
    /* height:  */
    flex-direction: row;
    align-items: center;
}
.col-flex-box {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.coverbox {
    margin-left: 50px;
}

.mask {
    width: calc(100% - 100px);
    overflow: hidden;
}
.detail-text-container {
    width: 100%;
    min-height: 630px;
}
.detail-text-title {
    font-size: 18px;
    line-height: 24px;
    height: 48px;
    font-weight: bold;
    color: var(--selected-font-color)；
}
.detail-text-express {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 14px!important;
    height: 60px;
    color: var(--normal-color);
    /* margin-left: 20px; */
}
.detail-text-express > i {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
}
.detail-text-price-container {
    width: 100%;
    height: 120px;
    line-height: 120px;
    user-select: none;
    background-color: #efefef;
}
.text-row {
    height: 100%;
}
.text-row > span {
    line-height: 100%;
    display: inline-block;
    width: 80px;
    text-align: left;
    color: var(--normal-color);
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
.detail-text-price::before {
    content: "￥ "
}
.detail-text-price {
    font-size: 2em;
    /* font-weight: bolder; */
    color: var(--theme-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.detail-text-type .el-radio:not(:last-child) {
    margin-right: 10px;
}
.detail-text-quantity > div.inline-block {
    margin-left: 10px;
    font-size: 12px;
    color: var(--normal-color);
    vertical-align: bottom;
}

.detail-text-review-container,
.detail-text-express,
.detail-text-quantity,
.detail-text-type {
    min-height: 60px;
}
.detail-text-review-container {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    height: 60px;
    border-top: dashed 1px #dadada;
    border-bottom: dashed 1px #dadada;
    color: var(--normal-color);
    text-align: center;
    /* box-sizing: border-box; */
}
/* .detail-text-review-container  {
    display: flex;
    flex-direction: row;

} */
.detail-button-container {
    position: absolute;
    bottom: 0;
}
.detail-button-container i {
    margin-right: 5px;
    font-size: 18px;
    /* font-weight: bold; */
}
.card-title {
    position: relative;
    width: 100%;
    /* width: calc(100% + 20px); */
    padding-left: 20px;
    padding-right: 20px;
    top: -20px;
    left: -20px;
    height: 50px;
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    /* line-height: 50px; */
}
.card-title > .el-breadcrumb {
    line-height: 50px;
}
.shop-info {
    /* position: relative; */
    /* margin-right: 20px; */
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 20px;
    text-align: center;
}
.shop-info > a,
.shop-info > div,
.shop-info > button.el-button {
    /* height: 100%; */
    margin-left: 10px;
    /* line-height: 50px; */
    /* text-align: center; */

}